html,
body {
    font-family: 'Roboto', sans-serif;
    height: 95%;
    margin: 0;
    background-color: #ebfcdd;  
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}