* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 18;
    color: rgb(10, 123, 2);
    padding: 15px 0;
}

table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;  text-align: center; font-weight: bold;}  
table tr td {border:1px #ccc solid; padding:5px;}  
table tr td.rightright {background: #eee;}  
table tr td h4 {margin:0; padding:0; font-weight:normal;}  

table {
  margin-bottom: 2em;
  width: 100%;
}
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
  table-layout: auto;
}
td { border-bottom: 1px solid #ddd; }
caption, th, td {
  padding: 4px 10px 4px 0;
}
caption {
  background: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 1em;
}

tr,td,th {
  vertical-align: middle;
}

table .last { padding-right: 0; }

.boton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: end;
}

.boton > :nth-child(2) {
  justify-self: start;
}

.boton button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton button:hover {
  background-color: #45a049;
}

.boton {
  text-align: center;
}

.hacer form {
  display: inline-block;
}